.sobren{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#titulo{
    font-family: poppinsB;
    font-size: 4em;
    padding: 55px;
    color: blue;
}
.hist{
   width: 100%;
    
    margin: 35px;
}
.deta{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sobb{
    margin: 20px;
    
}
#hist h1{
    color: white;
}
.bra{
    color: white;
}
.p{
    font-family: poppinsR;
}
h1{
    font-family: poppinsB;

}
.textos{
width: 80vh;
}
.boas{
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: row;
    padding: 35px;
}
#cafe h1,p{
    color: white;
}
#reuni h1{
    color: white;
}
.pe{
    width: 300px;
    height: 200px;
    margin: 20px;
    display: flex;
    justify-content: center;
}
.pe img{
    size: cover;
}
#reuni{
    flex-direction: row-reverse; 
}
@media (max-width: 999px){
    .sobren{
        overflow-x: hidden;
    }
    #titulo{
        font-size: 2.5em;
    }
    .hist{
        justify-self: center;
        height: 500px;
        width: 350px;
        
    }

    .textos{
        max-width: 100%;
        max-height: 350px;
    }
    .deta{
        align-items: center;
    }
    .boas{
        flex-direction: column-reverse;
        align-items: center;
        width: 300px;
        margin-left:0px ;
    }
    #reuni{
        flex-direction: column-reverse;
    }
    #reuni.pe{
        margin-top: 130px;
    }
}