
.roda{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
    background-color: black;
}
.infos{
    display: flex;
    flex-direction: row;
    
}
.text{
    color: blue;
}
.text h1{
    font-family: poppinsB;
    font-size: 2em;
}
.text p{
    font-family: poppinsR;
    color: blue;
}
.infos h2{
    padding: 10px;
    color: blue;
    cursor: pointer;
    font-family: poppinsB;
}
.infos h2:hover{
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0);
    transform: scale(1.05);
}
.text{
    margin-right: 20px;
}
.redes svg{
    font-size: 2em;
    padding: 10px;
    color: blue;
}
.redes svg:hover{
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0);
    transform: scale(1.05);
    cursor: pointer;
}
@media (max-width: 768px){
    .roda{
        overflow-x: hidden;
    }
    .roda{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text h1{
        font-size: 1.5em;
    }
    .text p{
        font-size: 15px;
    }
    .infos h2{
        font-size: 1.2em;
    }
    .redes svg{
        margin-left: 20px;
    }
}